{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "no-console": [
      "error",
      {
        "allow": [
          "warn",
          "error",
          "info"
        ]
      }
    ],
    "no-underscore-dangle": [
      "off"
    ],
    "no-param-reassign": [
      "off"
    ],
    "import/no-unresolved": [
      "off"
    ],
    "react/prop-types": [
      "off"
    ],
    "react/no-unescaped-entities": [
      "off"
    ]
  },
  "env": {
    "browser": true,
    "node": true
  }
}

